:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 
  background-color: #f4f7f9; 
}

#root {
  min-width: 100vw; 
  min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}